# Contact Form Configuration

# Target Email Address
VITE_RECIPIENT_EMAIL=abdullah.masud@unsw.edu.au

# Option 1: Formspree (Recommended for UNSW emails)
# Get your endpoint from https://formspree.io/
# Set up form to send to abdullah.masud@unsw.edu.au
VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/your_form_id

# Option 2: EmailJS (Alternative - may not work with UNSW)
# Get these values from https://www.emailjs.com/
VITE_EMAILJS_SERVICE_ID=your_service_id_here
VITE_EMAILJS_TEMPLATE_ID=your_template_id_here
VITE_EMAILJS_PUBLIC_KEY=your_public_key_here
